<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'home' %}"
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" href="{% url 'studentDashboard' %}"
        >Student</a
      >
      <a class="nav-item nav-link" href="{% url 'teacherDashboard' %}"
        >Teacher</a
      >
    </div>
  </div>
  {% if user.is_authenticated %}
  <span style="color: white">Hello {{user.username}}__</span>
  <span style="color: white"><a href="{% url 'logoutUser' %}">Logout</a></span>
  {% else %}
  <span style="color: white"
    ><a href="{% url 'signupUser' %}">Sign Up__</a></span
  >
  <span style="color: white"><a href="{% url 'loginUser' %}">Login </a></span>

  {% endif %}
</nav>
