{% extends 'base.html' %}{% load static %} {% block content %}




<div class="wrapper d-flex align-items-stretch">
   <nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="{% url 'home' %}" class="img logo rounded-circle mb-5"
        ><img src="{% static "images/Logo.jpg" %}" style="height: 125px;width:
        125px;" alt="My image"></a
      >
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="{% url 'joinClass' %}">Join Class</a>
        </li>
        <li>
            <a href="{% url 'logoutUser' %}">Logout</a>
          </li>
      </ul>
    </div>
  </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
                </i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'joinClass' %}">Join Class</a>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logoutUser' %}">Logout</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>{{class.name}}</h2>
                </div>
            </div>
        </div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">

                            {% for i in assignments %}
                            <article class="blog_item">
                                <div class="blog_details">
                                    
                                    {% if i.question %}
                                    <a class="d-inline-block" href="{% url 'detailAssignment' class.class_id i.id %}">
                                        <h2 class="blog-head" style="color: #2d2d2d;">{{i.message}}</h2>
                                    </a>
                                    <a href="{{i.question.url}}"><p>Question</p></a>
                                    {% else %}
                                        <h2 class="blog-head" style="color: #2d2d2d;">{{i.message}}</h2>
                                    {% endif %}
                                </div>
                            </article>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="col-lg-4">

                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
</div>



{% endblock %}